parinfer-rust
elpa
request
transient
auto-save-list/
etc
url
var
straight
eln-cache
/custom.el
/%backup%~
/.dap-breakpoints
/.lsp-session-v1
/.org-id-locations
/bookmarks
/bookmarks~
/eshell/
/org-roam.db

